//
// Your custom SCSS should be written here...
// --------------------------------------------------

.navbar{
	margin-bottom: remCalc(25);
}
.example-grid{
	.row{
		margin-left: 0;
		margin-right: 0;
	}
	.col{
		margin-bottom: remCalc(16);
		padding-top: remCalc(12);
		padding-bottom: remCalc(12);
		background-color: #efefef;
		text-align: center;
		border: 1px solid #ddd;
	}
}
.btn{
	margin-bottom: remCalc(14);
}
.footer{
	text-align: center;
	padding: remCalc(50) remCalc(15);
	background: #fafafa;
	margin-top: remCalc(50);
	border-top: 5px solid #f2f2f2;
}
[id*="id"]{
	margin-top: remCalc(30);
}