//
// Flexible videos embeds!
// --------------------------------------------------

.embed{
	position: relative;
	padding-bottom: $embed-padding-bottom;
	height: 0;
	margin-bottom: $embed-margin-bottom;
	overflow: hidden;
	&.widescreen{ 
		padding-bottom: $embed-widescreen-padding-bottom;
	}
	iframe,
	object,
	embed,
	video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}