//
// Navbar
// --------------------------------------------------

.navbar{
	position: relative;
	@include clearfix();
}

.navbar-header{
	text-align: center;
	.nav-brand{
		padding: remCalc(13) remCalc(15); // $nav-brand-padding
		display: inline-block;
		color: $gray-darker; // $nav-brand-color
		&:hover{
			text-decoration:none;
		}
	}
}

.navbar-nav{
	ul{
		padding-left: 0; 
		margin: 0;
		list-style: none;
		li{
			display: inline-block;
			a{
				display: inline-block;
				padding: remCalc(5) remCalc(15); // $nav-link-padding
				color: $gray-light; // $nav-link-color
				text-decoration: none;
				&:hover{
					color: $gray-dark; // $nav-link-color-hover
				}
			}
			&.active{
				> a{
					color: $gray-dark; // $nav-link-color-active
				}
			}
		}
	}
}


// Medium

@media #{$breakpoint-medium} {
	.navbar-header{
		float: left;
		.nav-brand{
			display: table-cell;
		}
	}
	.navbar-nav{
		float: right;
		ul{
			li{
				a{
					padding: remCalc(13) remCalc(15);
				}
			}
		}
	}
}
